body {
font-family: "Helvetica";
}

/* Navbar */

.navbar {
    background-color:  #660066;
    position: fixed ;
    width: 100vw;
    z-index: 1;
}

.navbar-brand {
    font-family: "Oswald";
    font-size: 40px;
    font-weight: 700;
}

/* Hero Section */

#Hero-Section {
    background-image: url(../img/dirk_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    height: 100vh;
    position: relative;
}

#Hero-Section div {
    position: absolute;
    bottom: 45px;
    left: 0;
    right: 0;
    margin: auto;
}

.hero-line {
    width: 345px;
}

#Hero-Section h1 {
    font-family: "Oswald";
    font-size: 72px;
}

#Hero-Section h1:first-child {
    font-weight: 200;
}

#Hero-Section h1:last-child {
    font-weight: 900;
}

/* Sobre Mí */

#Sobre-Mi {
    color: #373A3C ;
    font-family: "Open Sans";
    line-height: 3;
}

/* Mi Experiencia */

#Experiencia div h1 {
    font-family: "Oswald";
    font-size: 52px;
}

#Experiencia i {
    color: #660066;
}

#Experiencia div:last-child article h4:first-child {
    font-family: "Oswald";
}

#Experiencia div:last-child article h4:last-child {
    font-family: "Open Sans";
    font-weight: 300;
}

/* Mis Últimos Trabajos */

#Trabajos {
    background-color: #660066 ;
    font-family: "Oswald";
}

#Trabajos h1 {
    font-size: 52px;
}

#Trabajos .card p {
    font-family: "Open-Sans";
    font-weight: 300;
}

/* Contacto */

#Contacto h1 {
font-family: "Oswald";
font-size: 52px;
}